.titulo_principal {
    color: #931621;
    display: block;
    margin-bottom: 6%;
}

.tiulos {
    color: rgb(44, 44, 103);
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    width: 40%;
    justify-content: space-between;
    display: inline-flex;
}

body {
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
}

header {
    display: flex;
    border-top: 4px solid;
    color: white;
    align-content: center;
    background-color: #931621;
}

.titol {
    display: block;
    margin-bottom: 6%;
}

nav {
    width: 65%;
    display: block;
}

.titol h1 {
    text-align: center;
}

h1 {
    color: #931621;
}

h3 {
    color: #931621;
}

article {
    display: flex;
}

.imatges {
    width: 40%;
}

img {
    width: 69%;
}

.parrafs {
    width: 60%;
    margin: 1%;
}

.allicencies {
color: black;
}